node_modules
.npm-cache
**/.npm-cache
/dist
/build
/.turbo
/.vite
coverage
.DS_Store
.env
.env.*
!.env.example
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
/apps/**/dist
/apps/**/coverage
/apps/**/.turbo
/apps/**/.vite
